# Eclipse Files #
# directories #
.settings/
target/
bin/
# files #
.classpath
.project
.springBeans

# GIT file #
.gitignore

# Log file #
*.log

# Compiled class file #
*.class

# Package Files #
*.gz
# *.jar
# *.war
# *.nar
# *.ear
# *.zip
# *.tar.gz
# *.rar
